.buy-cart {
    padding: 1rem;
    border: 8px solid #ed1c24;
    color: #47b;
    background-color: white;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    
    &__product {
        &-image {
            height: 30px;
            object-fit: contain;
        }

        &s-container {
            height: 400px;
            overflow: auto;
        }
    }

    &-button {
        box-sizing: border-box;
        background-color: #47b;
        color: white;
        border-radius: 5px;
        &:hover {
            background-color: rgb(68, 119, 187, .5);
        }
        &:active {
            background-color: #47b;
            color: black;

        }
    }
    
}

