.section-products-table {
    background-color: #47b;
    border: solid 5px #ed1c24;
    color: #47b;
    text-shadow:
    1px -1px white,
    -1px -1px white,
    1px 1px white,
    -1px 1px white,
    ;
}