
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Sansita+Swashed:wght@500&display=swap');

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Comic Neue', cursive;
    box-sizing: border-box;
    background-image: url(../img/logo-cosmica-body-background.png);
    background-attachment: fixed;
    color: white;
    text-shadow: 
    1px -1px #ED1C24,
    -1px 1px #ED1C24,
    1px 1px #ED1C24,
    -1px -1px #ED1C24
    ;
    position: relative;
    margin: 0 auto;
    
    @media (min-width: 768px) {
        width: 85%;
        box-shadow: 
        1em -1em 2em #ED1C24,
        -1em -1em 2em #ED1C24,
        1em 1em 2em #ED1C24,
        -1em 1em 2em #ED1C24,
        ;
    }
    @media (min-width: 1024px) {
    
    }
}
