<form class="form contact-form">
    <div class="form__name form__section">
        <Label for="customer" class="form__name__label form__label">Nombre</Label>
        <input id="customer" name="customer" class="contact-form__name form__input" type="text">
        <div class="error-detail "></div>
    </div>
    <div class="form__e-mail form__section">
        <Label for="mail" class="form__e-mail__label form__label">e-mail</Label>
        <input id="mail" name="mail" class="contact-form__e-mail form__input" type="text">
        <div class="error-detail"></div>
    </div>
    <div class="form__comments form__section">
        <Label for="comments" class="form__comments__label form__label">Comentarios</Label>
        <input id="comments" name="comments" class="form__input__comments form__input" type="text">
        <div class="error-detail"></div>
    </div>
    <input type="submit" class="form__button">
</form>